<template>
    <form method="get" action="" v-on:submit.prevent="getShorted">
        <div class="form-group row mb-0" v-if="url_data['notify']">
            <div class="col-md-6">
                <span class="notify_text">{{url_data['notify']}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="original_url" class="col-md-4 col-form-label text-md-right"></label>
            <div class="col-md-6">
                <input id="original_url" type="text" class="form-control" v-bind:class="error_class" name="original_url"
                       v-model="original_url"
                       required autofocus>
                <span class="invalid-feedback" role="alert" v-if="error_class">
                       <strong>{{validation_errors['original_url']}}</strong>
                </span>
            </div>
        </div>
        <div class="form-group row" v-if="show_result">
            <label for="shorted_email" class="col-md-4 col-form-label text-md-right"></label>
            <div class="col-md-6">
                <input id="shorted_email" type="text" class="form-control" name="shorted_email"
                       v-bind:value="url_data['shorted_url']">
            </div>
        </div>
        <div class="form-group row mb-0">
            <div class="col-md-8 offset-md-4">
                <button type="submit" class="btn btn-primary">
                    Сделать ссылку
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "ShortenerComponent",
        data: function () {
            return {
                url_data: [],
                show_result: false,
                error_class: '',
                validation_errors: [],
                original_url: ''
            }
        },
        mounted() {
        },
        methods: {
            getShorted() {
                axios.get('/url/short', {
                    params: {
                        original_url: this.original_url
                    }
                })
                    .then((response) => {
                        this.show_result = true;
                        this.error_class = '';
                        this.url_data = response.data[0];
                    })
                    .catch((error) => {
                        this.show_result = false;
                        this.error_class = 'is-invalid';
                        this.validation_errors = error.response.data;
                    });
            }
        }
    }

</script>

<style scoped>
    .notify_text{
        color: orange;
    }
</style>
